* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d1e2fc;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 15px;
}
/*Header*/
.header {
    grid-column: 1/4;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: rgb(8,54,116);
    background: linear-gradient(90deg, rgba(8,54,116,1) 0%, rgba(0,71,171,1) 38%, rgba(109,149,207,1) 93%);
    color: #ffff;

}

h1 {
    margin: 15px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif; 
}

.hero {
    font-family: 'Pacifico', 'cursive';
    display: flex;
    color: #ffff;   
}
/*Nav*/

.header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
}

nav ul li a {
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    flex-direction: row;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin: auto 3em;
}

/*Hero*/
.hero {
    grid-column: 1/4;
    background-image: url("./images/Colbalt6-9a.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    position: top;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.hero p{
    color: #ffff;
    font-size: 75px;
    display: flex;
    justify-content: flex-end;
    order: 3;
}

/*Content*/
.content {
    grid-column: 2/4;
    display:flex;
    font-family: 'Pacifico', 'cursive';
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 10%;
    height: 300px;
    color: #ffff;
}

.sidebar {
    grid-column: 1/2;
}

.about-me {
    background-color: #082674;
}

.work {
    background-color: #0047ab;
}

.contact-me {
    background-color: #6d95cf;
}

.flex-item {
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;
    flex-direction: row;
    color: #002861;

}

/*footer */
.footer {
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    color: #002861;
}


